body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
}

.change.image{
    background-color: blue;
}

.child{
    margin: 0px;
    width: 400px;
    margin-left: 30px;
}
.container{
    width: 760px;
    height: 290px;
    display: flex;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.drawers{
    width: 300px;
    height: 290px;
    border-radius: 10px 0px 0px 10px;

}
.profile{
    display: flex;
    margin-top: 0px;
    padding: 0;
}

.profile img{
    margin-top: 9px;
    border-radius: 50%;
    height: 50px;
    margin-right: 5px;
}

.profile p{
    margin-left: 4px;
    margin-top: 16px;

}

.sent,span{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    /* width: 430px; */

}

.image{
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    height: 30px;
    width: 30px;
    margin-top: 23px;    
    margin-left: 169px;
}


.foot-image{
    display: none;
}


.image img{
    height: 20px;
    margin: 4px;
    
}

p{
    color: hsl(212, 23%, 69%);
}

.child h2{
    color: hsl(217, 19%, 35%);
}

#name{
    color: hsl(217, 19%, 35%);

}
.child p{
    font-size: 15px;
}

.share-content{
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    width: 260px;
    height: 55px;
    margin-left: 240px;
    /* margin-left: 350px;
    margin-bottom: 5px; */
    border-radius: 10px;
    /* margin: 20px; */
    justify-content: center;
    display: flex;
    margin-top: 6px;
    visibility: hidden;
    box-shadow: 0px 0px 10px;
    
}

.triangle{
  margin-left: 73px;
  margin-top: 54px;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent;
  border-top: 20px solid #3B4D61;
}

.share-content p{
    font-size: 20px;
    text-align: center;
    margin-top: 14px;   
}

.share-content img{
    margin-top: 15px;
}

.share-content img{
    margin-left: 15px;
}

@media (max-width: 900px) {
    body{
        flex-direction: row;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .container{
        flex-direction: column;
        width: 350px;
        height: 550px;
    }
    .child{
        flex-direction: column;
        width: 280px;  
        margin: 15px;
        margin-top: 30px;
        /* padding: 10px;  */
        /* margin-left: 10px;    */
    }

    .profile .prof{
        margin-top: 5px;
    }

    .sent{
        font-size: 18px;
        width: 288px;
    }

    .child .sente{
        font-size: 15px;
        width: 288px;
    }

    .child{
        margin: 0;
        margin-top: 20px;
    }

    .profile{
        width: 350px;
        height: 69px;
        margin-right: 100px;
        margin-top: 20px;
        border-radius: 0px 0px 10px 10px;
    }

    .profile .prof,.image,p,.sent{
        margin-left: 24px;
    }

    .profile p{
        width: 140px;
        margin-top: 13px;
    }

    .image{
        margin-left: 57px;
        /* margin-right: 35px; */
        margin-top: 18px;
    }

    .drawers{
        border-radius: 10px 10px 0px 0px;
        width: 350px;
        height: 230px;
    }

    .share-content{
        /* margin-left: 2px; */
        margin: 0;
        width: 320px;
        height: 87px;
        margin-top: 110px;
        border-radius: 0px 0px 10px 10px;
        background-color: hsl(217, 19%, 35%);
        box-shadow: none;
    }

    .SH{
        margin-right: 180px;
        padding: 15px;
    }

    .share-image{
        position: absolute;
        margin-right: 19px;
        width: 100;
        margin-top: 16px;
    }

    .content{
        width: 350px;
        position: absolute;
        margin-right: 30px;
    }

    
    .triangle{
        display: none;
    }

    .foot-image{
        display: inline;
        border-radius: 50%;
        background-color: hsl(210, 46%, 95%);
        height: 35px;
        width: 36px;
        margin-top: 25px;    
        margin-right: 30px;
    }

    .foot-image img{
        height: 18px;
        margin: 8px;
        color: white;

    }
}

